[submodule "external/glad"]
	path = external/glad
	url = https://github.com/DawidLokiec/glad.git
[submodule "external/jsoncpp"]
	path = external/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui
